<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second laboratory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">Poll</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="Information.html">Information</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="profile.html">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login.html">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="signup.html">Sign up</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <main id="main">

        <!-- create poll block -->
        <div v-if="create" class="box coral-color center-box col-md-6">
          <h2 class="centered">Create the poll</h2><br>
          <label for="question">Question</label><br>
          <input v-model="poll.question" type="text">
          <br><br>
          <label for="av1">Answer variant 1</label><br>
          <input v-model="poll.answer1" name="av1" type="text">
          <br><br>
          <label for="av2">Answer variant 2</label><br>
          <input v-model="poll.answer2" name="av2" type="text">
          <br><br>
          <label for="av3">Answer variant 3</label><br>
          <input v-model="poll.answer3" name="av3" type="text"><br><br>
          <button v-on:click="saveCreateAction" class="btn btn-success">Save</button>
        </div>

        <!-- choose action block -->
        <div v-if="choose" class="row flex main-poll-content">
          <button v-on:click="createAction" id="createPollButton" class="col-md-4">
              Create poll
          </button>
          <button v-on:click="passAction" class="col-md-4">
              Pass the poll
          </button>
        </div>

        <!-- Answer the question block -->
        <div v-if="answer" class="box coral-color center-box col-md-3">
          <h4 style="text-align: center;">{{poll.question}}</h4>
          <br>
          <div class="answer-block">
            <input class="radio" type="radio" id="aw1" name="gender" value="male">
            <label  class="answer" for="male">{{poll.answer1}}</label>
          </div>
          <div class="answer-block">
            <input class="radio" type="radio" id="aw2" name="gender" value="male">
            <label  for="male">{{poll.answer2}}</label>
          </div>
          <div class="answer-block">
            <input class="radio" type="radio" id="aw3" name="gender" value="male">
            <label class="poll.answer2" for="male">{{poll.answer3}}</label>
          </div>
          <br>
          <button v-on:click="savePassAction" class="btn btn-success">Save</button>
        </div>

        <!-- list of question block -->
        <div v-if="list" class="box coral-color center-box col-md-6">
          <div v-for="poll in pollList" class="row">  
            <div v-on:click="passPollQuestion(poll.question)" class="box white-color center-box col-md-10">
              {{poll.question}}
            </div>
          </div>
        </div>

        <!-- saved -->
        <div v-if="saved" class="box green-color  center-box col-md-6" >
          <h2 style="text-align:center;"> Saved </h2> 
        </div>

      </main>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script type="module" src="js/controller/controller.js"></script>    
<script type="module">
  import Controller from './js/controller/controller.js';
  let controller = new Controller();
</script>
</html>